@use '../../styles/colors' as colors;
.input-date{
    width: 100%;
}
.css-1an5g1v-control{
    border-radius: 10px !important;
    &:focus{
        outline: none !important;
    }
}
.select-category:focus{
    border: none !important;
    outline: none !important;
    &:focus{
        outline: none !important;
    }
}
.input-amount{
    border-radius: 8px !important;
    border: 1px solid #d9d9d9 !important;
    padding-left: 11px;
    padding-right: 11px;
    &:focus{
        outline: none !important;
        border: 1px solid colors.$primary !important;
    }

}