@use '../../styles/colors' as colors;
.container{
    width: 100%;
    height: 100%;
}

.main-content{
    height: 100vh;
    flex: 1;
}

.cards-container{
    width: 100%;
    height: 100%;
    max-width: 1500px;
    justify-content: space-between;
    .second-line{
        justify-content: space-around;
        width: 100%;
    }
    .third-line{
        justify-content: space-between;
        width: 100%;
        height: 700px;
        .card-header{
            justify-content: space-between;
            width: 100%;
        }
    }
    .third-line{
        justify-content: space-between;
        width: 100%;
    }
    .card{
        background-color: colors.$white;
        border-radius: 15px;
        padding: 30px;
        margin: 0 10px;
        flex:1;
        border: 1px solid #dddddd;

        
    }
    
}

.chart-info-container{
    justify-content: space-between;
    align-items: flex-start;
    .chart-container {
        width: 100%;
    }
}
.chart{
    &:focus{
        outline: none;
    }
}

.side-bar{
    background-color: #000;
    width: 280px;
}
.header-card{
    justify-content: space-between;
    align-items: center;
    .icon{
        width: 35px;
        height: 35px;
    }
}

.container-tags{
    display: flex;
    align-items: center;

    .tag-category{
        z-index: 1000;
    }
    .tag-subcategory{
        z-index: 999;
    }
}

.flex-1{
    flex: 1;
}
.flex-2{
    flex: 1;
}