.main-container{
    width: 100%;
}
.header{
    justify-content: space-between;
    align-items: center;
}
.transactions-container{
    width: 100%;
    .transactions-table{
        border-collapse: collapse;
        table-layout: fixed;
        th:nth-child(3),
        td:nth-child(3) {
            width: 30%;
            max-width: 500px;
            overflow: hidden;
        }
        .transactions-header{
            th{
                border: 1px solid #dddddd;
                text-align: center;
                padding: 10px;
                line-height: 1;
            }
            .edit-button-th{
                width: 2%;
            }
        }
        .transaction-row{
            td{
                padding-left: 18px;
                border: 1px solid #dddddd;
                text-align: left;

            }
            .category-names{
                .category-names-container{
                    display: flex;
                    span{
                        margin-right: 5px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}
.transactions-container {
    .ant-table-tbody > tr.ant-table-row-selected > td {
        background-color: #e6f4ff; // leve tom de azul
    }
}
.actions-container{
    display: flex;
    gap: 8px;
}
.drawer-element{
    position: relative;
    .close-drawer-icon{
        position: absolute;
        top: 15px;
        right: 15px;
    }
}

.divider{
    height: 32px;
}
