.main-content{   
    // margin-left: 280px;
    width: 100%;
    .page-header{
        align-items: center;
        justify-content: space-between;
    }
}
.categories-container{
    justify-content: space-between;
}
.income-categories, .expense-categories{
    min-height: 200px;
    height: 100%;
}

.income-categories{
    width: 50%;
    margin-left: 6px;
}
.expense-categories{
    width: 50%;
    margin-right: 6px;
}