.category-card{
    width: 100%;

    .details-actions-buttons{
        width: 100%;
        justify-content: space-between;
    }
    .button{
        border: none;
        margin-left: 6px;
        background-color: transparent;
        &:hover{
            cursor: pointer;
        }
        svg{
            margin: 0px !important;
        }
    }
    .edit-category-button,
    .delete-category-button{
        padding: 4px;
        border-radius: 10px;
        &:hover{
            background-color: #f0f0f0;
        }
        &:active{
            background-color: #e0e0e0;
        }
    }
    .body-category-card{
        .subcategories{
            flex-wrap: wrap;
            .subcategory-element{
                background-color: #f0f0f0;
                border-radius: 50px;
                svg{
                    margin-right: 0px !important;
                    margin-left: 10px;
                }
                .delete-subcategory-button{
                    &:hover{
                        background-color: #dadada;
                        border-radius: 5px;
                    }
                    &:active{
                        background-color: #d1d1d1;
                    }
                }
            }
        }
    }
    
    .ant-color-picker-color-block-inner, .ant-color-picker-trigger{
        cursor: default !important;
    }
}