
// Brand-colors
$aquamarine-900: #145F4B;
$aquamarine-800: #1A7D62;
$aquamarine-700: #21A17F;
$aquamarine-600: #2BCFA3;
$aquamarine-500: #2FE3B3;
$aquamarine-400: #59E9C2;
$aquamarine-300: #74ECCC;
$aquamarine-200: #9FF2DC;
$aquamarine-100: #BFF6E7;

// Neutral-colors
$eerie-black: #18181A;
$primary: #1677FF;
$white: #FEFEFE;
$green: #00a63a;
$red: #e7000b;

// $primary:


.red{
    color: $red;
}

.green{
    color: $green;
}