@use './layout';
@use './spacing';
@use './typography';
@use './colors';
@use './icons';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-style{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}