@use './layout' as layout; //

*{
    font-family: "Poppins", sans-serif; 
}
@mixin heading($size, $device: desktop){
    font-family: "Parkinsans", sans-serif;
    // H0
    @if $size == h0 and $device == desktop{
        font-size: 120px;
        line-height: 120%;
        font-weight: 800;
    }@else if $size == h0 and $device == mobile{
        font-size: 88px;
        line-height: 120%;
        font-weight: 800;
    }@else if $size == h0 and $device == smallmobile{
        font-size: 32px;
        line-height: 120%;
        font-weight: 800;
    }

    // H1
    @if $size == h1 and $device == desktop{
        font-size: 96px;
        line-height: 100%;
        font-weight: 700;
    }@else if $size == h1 and $device == mobile{
        font-size: 56px;
        line-height: 110%;
        font-weight: 700;
    }@else if $size == h1 and $device == smallmobile{
        font-size: 48px;
        line-height: 120%;
        font-weight: 600;
    }

    // H2
    @else if $size == h2 and $device == desktop{
        font-size: 64px;
        line-height: 110%;
        font-weight: 700;
    }@else if $size == h2 and $device == mobile{
        font-size: 40px;
        line-height: 120%;
        font-weight:700;
    }@else if $size == h2 and $device == smallmobile{
        font-size: 36px;
        line-height: 120%;
        font-weight: 600;
    }

    // H3
    @else if $size == h3 and $device == desktop{
        font-size: 48px;
        line-height: 120%;
        font-weight: 600;
    }@else if $size == h3 and $device == mobile{
        font-size: 32px;
        line-height: 120%;
        font-weight: 600;
    }@else if $size == h3 and $device == smallmobile{
        font-size: 28px;
        line-height: 130%;
        font-weight: 600;
    }
    
    // H4
    @else if $size == h4 and $device == desktop{
        font-size: 36px;
        line-height: 120%;
        font-weight: 600;
    }@else if $size == h4 and $device == mobile{
        font-size: 28px;
        line-height: 130%;
        font-weight: 600;
    }@else if $size == h4 and $device == smallmobile{
        font-size: 20px;
        line-height: 140%;
        font-weight: 500;
    }
    
    // H5
    @else if $size == h5 and $device == desktop{
        font-size: 24px;
        line-height: 140%;
        font-weight: 500;
    }@else if $size == h5 and $device == mobile{
        font-size: 20px;
        line-height: 140%;
        font-weight: 500;
    }

    // H6
    @else if $size == h6 and $device == desktop{
        font-size: 18px;
        line-height: 150%;
        font-weight: 400;
    }@else if $size == h6 and $device == mobile{
        font-size: 16px;
        line-height: 150%;
        font-weight: 400;
    }

    // H7
    @else if $size == h7 and $device == desktop{
        font-size: 14px;
        line-height: 150%;
        font-weight: 300;
    }@else if $size == h7 and $device == mobile{
        font-size: 14px;
        line-height: 150%;
        font-weight: 300;
    }
}

@mixin paragraph($size: p2, $device: desktop){

    font-family: "Poppins", sans-serif; 

    // P1
    @if $size == p1 and $device == desktop{
        font-size: 24px;
        line-height: 30px;
        font-weight: 300;
    }@else if $size == p1 and $device == mobile{
        font-size: 22px;
        line-height: 30px;
        font-weight: 300;
    }@else if $size == p1 and $device == smallmobile{
        font-size: 20px;
        line-height: 24px;
        font-weight: 300;
    }

    // P2
    @if $size == p2 and $device == desktop{
        font-size: 18px;
        line-height: 30px;
        font-weight: 200;
    }@else if $size == p2 and $device == mobile{
        font-size: 18px;
        line-height: 26px;
        font-weight: 200;
    }@else if $size == p2 and $device == smallmobile{
        font-size: 16px;
        line-height: 26px;
        font-weight: 200;
    }

    // P3
    @if $size == p3 and $device == desktop{
        font-size: 16px;
        line-height: 26px;
        font-weight: 200;
    }@else if $size == p3 and $device == mobile{
        font-size: 14px;
        line-height: 26px;
        font-weight: 200;
    }@else if $size == p3 and $device == smallmobile{
        font-size: 14px;
        line-height: 26px;
        font-weight: 200;
    }

    // P4
    @if $size == p4 and $device == desktop{
        font-size: 14px;
        line-height: 24px;
        font-weight: 200;
    }@else if $size == p4 and $device == mobile{
        font-size: 12px;
        line-height: 20px;
        font-weight: 200;
    }

    // P5
    @if $size == p5 and $device == desktop{
        font-size: 12px;
        line-height: 24px;
        font-weight: 200;
    }@else if $size == p5 and $device == mobile{
        font-size: 10px;
        line-height: 20px;
        font-weight: 200;
    } 
}

// Headings
.h0{
    @include heading(h0, desktop);
    @include layout.responsive-screen(mobile){
        @include heading(h0, mobile);
    }
    @include layout.responsive-screen(small-mobile){
        @include heading(h0, smallmobile);
    }
}

h1{
    @include heading(h1, desktop);
    @include layout.responsive-screen(mobile){
        @include heading(h1, mobile);        
    }
    @include layout.responsive-screen(small-mobile){
        @include heading(h1, smallmobile);
    }
}

h2{
    @include heading(h2, desktop);
    @include layout.responsive-screen(mobile){
        @include heading(h2, mobile);
    }
    @include layout.responsive-screen(small-mobile){
        @include heading(h2, smallmobile);
    }
}

h3{
    @include heading(h3, desktop);
    @include layout.responsive-screen(mobile){
        @include heading(h3, mobile);
    }
    @include layout.responsive-screen(small-mobile){
        @include heading(h3, smallmobile);
    }
}

h4{
    @include heading(h4, desktop);
    @include layout.responsive-screen(mobile){
        @include heading(h4, mobile);
    }
    @include layout.responsive-screen(small-mobile){
        @include heading(h4, smallmobile);
    }
}

h5{
    @include heading(h5, desktop);
    @include layout.responsive-screen(mobile){
        @include heading(h5, mobile);        
    }
}

h6{
    @include heading(h6, desktop);
    @include layout.responsive-screen(mobile){
        @include heading(h6, mobile);        
    }
}

.h7 {
    @include heading(h7, desktop);
    @include layout.responsive-screen(mobile){
        @include heading(h7, mobile);
    }
}

// Paragraphs
p{
    @include paragraph(p3, desktop);
    @include layout.responsive-screen(mobile){
        @include paragraph(p3, mobile);
    }
    @include layout.responsive-screen(small-mobile){
        @include paragraph(p3, smallmobile);
    }
}

.p1{
    @include paragraph(p1, desktop);
    @include layout.responsive-screen(mobile){
        @include paragraph(p1, mobile)
    }
    @include layout.responsive-screen(small-mobile){
        @include paragraph(p1, smallmobile )
    }
}

.p2{
    @include paragraph(p2, desktop);
    @include layout.responsive-screen(mobile){
        @include paragraph(p2, mobile)
    }
    @include layout.responsive-screen(small-mobile){
        @include paragraph(p2, smallmobile)
    }
}

.p3{
    @include paragraph(p3, desktop);
    @include layout.responsive-screen(mobile){
        @include paragraph(p3, mobile)
    }
    @include layout.responsive-screen(small-mobile){
        @include paragraph(p3, smallmobile)
    }
}

.p4{
    @include paragraph(p4, desktop);
    @include layout.responsive-screen(mobile){
        @include paragraph(p4, mobile)
    }
}

.p5{
    @include paragraph(p5, desktop);
    @include layout.responsive-screen(mobile){
        @include paragraph(p5, mobile)
    }
}

.parkinsans{
    font-family: "Parkinsans", sans-serif;
}
.font-weight-300{
    font-weight: 300;
}
.font-weight-400{
    font-weight: 400;
}
.font-weight-500{
    font-weight: 500;
}
.font-weight-600{
    font-weight: 600;
}
.font-weight-700{
    font-weight: 700;
}
.font-weight-800{
    font-weight: 800;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

// Text to uppercase
.uppercase{
    text-transform: uppercase;
    letter-spacing: 2px;
}
